<!DOCTYPE html>
<html lang="en">
<head>
<title><?=$top_title . ' | ' . c('site_name') ?></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="http://lib.sinaapp.com/js/bootstrap/2.0.2/css/bootstrap.min.css" rel="stylesheet">
<link href="http://lib.sinaapp.com/js/bootstrap/2.0.2/css/bootstrap-responsive.min.css" rel="stylesheet">



<!--<link rel="stylesheet" href="static/css/style.css" type="text/css" >-->
<?php if( isset($css) && is_array( $css ) ): ?>
        <?php foreach( $css as $cfile ): ?><link rel="stylesheet" type="text/css" href="static/css/<?=$cfile?>">
        <?php endforeach; ?>
<?php endif; ?>
<style>
body 
{
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav 
{
	padding: 9px 0;
}


</style>	

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <?php @include_once( dirname(__FILE__) ) . DS . 'header.tpl.html'; ?>  
  </div>   
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <?php	
			$tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'side' . DS . g('c') . DS . g('a') . '.tpl.html';
			if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
			else @include( CROOT . $tfile );
			 ?>
    </div>
    <div class="span10">
      <!--Body content-->
      <?php 
			$tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'main' . DS . g('c') . DS . g('a') . '.tpl.html';
			if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
			else @include( CROOT . $tfile );
			?>
    </div>
  </div>


<footer>
       <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>
</footer>

</div>

<script src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
<script src="http://lib.sinaapp.com/js/bootstrap/2.0.2/js/bootstrap.min.js"></script>

<?php if( isset($js) && is_array( $js ) ): ?>
        <?php foreach( $js as $jfile ): ?><script type="text/javascript" src="static/script/<?=$jfile;?>" ></script>
        <?php endforeach; ?>
<?php endif; ?>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
   <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap//assets/js/bootstrap-typeahead.js"></script>
<script src="static/script/app.js"></script>
	
</body>
</html>