<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><?=c('site_name')?></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li<?php if( g('a') == 'index' ): ?> class="active"<?php endif; ?>><a href="?a=index">Home</a></li>
              <li<?php if( g('a') == 'about' ): ?> class="active"<?php endif; ?>><a href="?a=about">About</a></li>
              <li<?php if( g('a') == 'contact' ): ?> class="active"<?php endif; ?>><a href="?a=contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
